<div class="ui container">
	<div class="sixteen wide column">
	<p>&nbsp;</p>
	<h1>Leads Machine Blog</h1>

	<div class="ui list">
	<% @blogs.each do |blog| %>
	  <div class="item">
	    <i class="pen icon"></i>
	    <div class="content">
	      <h4><%= link_to blog.name, blog %></h4>
	      <%= blog.created_at.strftime('%B %e %Y') %><br>
	      <div class="description"><%= blog.content[0..100] %> ... <%= link_to 'Read More', blog %></div>
	    </div>
	  </div>
	  <div class="ui hidden divider"></div>
	<% end %>
	</div>


	<br>
	<% if can? :manage, @blog %>
	  <%= link_to 'Write a New Blog Entry', new_blog_path %>
	<% end %>
	</div>
</div>