<p id="notice"><%= notice %></p>

<h1>Listing Callstats</h1>

<table>
  <thead>
    <tr>
      <th>Machine</th>
      <th>Calls</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @callstats.each do |callstat| %>
      <tr>
        <td><%= callstat.machine %></td>
        <td><%= callstat.calls %></td>
        <td><%= link_to 'Show', callstat %></td>
        <td><%= link_to 'Edit', edit_callstat_path(callstat) %></td>
        <td><%= link_to 'Destroy', callstat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Callstat', new_callstat_path %>
