
<%= form_for(@machine, html: {class: 'ui form'}) do |f| %>
  <% if @machine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@machine.errors.count, "error") %> prohibited this machine from being saved:</h2>

      <ul>
      <% @machine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="two fields">
    <div class="field">
      <label>User (Blank for Spec)</label>
      <%= f.collection_select :user_id, User.all, :id, :email, {include_blank: true}, {class: 'ui dropdown'} %>
    </div>
      <div class="field">
      <label>Parent</label>
      <%= f.text_field :parent %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'ui positive button' %>
  </div>

<% end %>
