<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @title ||= "Leads Machine Makes your Phone Ring!" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, async: Rails.env.production? %>
  <meta name=viewport 		content="width=device-width,initial-scale=1">
  <meta name=description 	content=''>
  <meta name=keywords 		content="sales leads, leadgen, lead generation">
  <%= csrf_meta_tags %>
  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
   <script type="text/javascript">
  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71858141-1']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>
<body>
  <div class="ui middle aligned center aligned grid">
  <div class="column">
  	<h2 class="ui red header">
  	  
  	  <div class="content">
  	    LeadsMachine Account Control
  	  </div>
  	</h2>
  	<%= yield %>
  </div>
  </div>
  <script>_gaq.push(['_trackPageview']);</script>
</body>
</html>
